BasedOnStyle: Google    
Language: Cpp
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
ColumnLimit: 80
IndentWidth: 4
NamespaceIndentation: All
SeparateDefinitionBlocks: Always
SortIncludes: CaseSensitive
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements 
SpaceBeforeRangeBasedForLoopColon: true
Standard: Latest